
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Ogrenci.cshtml";
}

<h2>Index</h2>

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}