
@{
    ViewBag.Title = "BilgilendirmeSayfasi";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Staj/IME Bilgilendirme Sayfası</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Staj Evrakları</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <tbody>
                        <tr>
                            <td>
                                <a>
                                    Staj -I/II Çalışma Takvimi
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-danger btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/staj/staj-I_II-takvimi.pdf" target="_blank">
                                    <i class="fa-solid fa-file-pdf mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a>
                                    İzlenecek Adımlar
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-danger btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/staj/StajEsaslari_yeni.pdf" target="_blank">
                                    <i class="fa-solid fa-file-pdf mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a>
                                    Staj Akış Diyagramı
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-danger btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/staj/StajAkisDiyagrami.pdf" target="_blank">
                                    <i class="fa-solid fa-file-pdf mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a>
                                    Staj I-II/İş Yeri Eğitimi Beyanı
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-danger btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/staj/Staj-I_II-Isyeri-Egitimi-Beyani.pdf" target="_blank">
                                    <i class="fa-solid fa-file-pdf mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a>
                                    Staj Başvuru ve Kabul Formu
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-primary btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/staj/StajBasvuruKabulFormu.doc" target="_blank">
                                    <i class="fa-solid fa-file-word mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a>
                                    Staj Değerlendirme Formu
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-primary btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/staj/stajdegerlendirmeformu.doc" target="_blank">
                                    <i class="fa-solid fa-file-word mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a>
                                    Staj Raporu
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-primary btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/staj/stajraporu.docx" target="_blank">
                                    <i class="fa-solid fa-file-word mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a>
                                    Sigorta Beyan Formu
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-danger btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/staj/sigorta-beyani.pdf" target="_blank">
                                    <i class="fa-solid fa-file-pdf mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a>
                                    Devlet Katkı Talep Formu
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-success btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/staj/devletkatkitalepformu.xlsx" target="_blank">
                                    <i class="fa-solid fa-file-excel mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">İşletmede Mesleki Eğitim</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <tbody>
                        <tr>
                            <td>
                                <a>
                                    İzlenecek Adımlar
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-danger btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/isyeri/ime_akisDiyagrami.pdf" target="_blank">
                                    <i class="fa-solid fa-file-pdf mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a>
                                    İME Yönergesi
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-primary btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/isyeri/ime_yonerge.doc" target="_blank">
                                    <i class="fa-solid fa-file-word mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a>
                                    İşletmede Mesleki Eğitim Kabul Formu
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-primary btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/isyeri/isyerikabulformu.doc" target="_blank">
                                    <i class="fa-solid fa-file-word mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a>
                                    Değerlendirme Formu
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-primary btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/isyeri/ime_DegerlendirmeFormu.doc" target="_blank">
                                    <i class="fa-solid fa-file-word mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a>
                                    Denetim Formu
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-primary btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/isyeri/ime_Denetim%20Formu.doc" target="_blank">
                                    <i class="fa-solid fa-file-word mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a>
                                    İşletmede Mesleki Eğitim Rapor Yazım Kuralları
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-outline-primary btn-sm" href="http://bilisim.kocaeli.edu.tr/dosyalar/isyeri/Ek4-RaporYazimKurallari.doc" target="_blank">
                                    <i class="fa-solid fa-file-word mr-1"></i>
                                    İncele
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>