@model IEnumerable<YazLab.Identity.ApplicationUser>
@{
    ViewBag.Title = "SorumluOldugumOgrenciler";
    Layout = "~/Views/Shared/_Ogretmen.cshtml";
}


<div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable">


                    <table class="table" style="width:65rem; margin:auto">
                        <tr>
                            <th>
                                Ad
                            </th>
                            <th>
                                Soyad
                            </th>
                            <th>
                                E-Posta
                            </th>
                            <th>
                                Okul Numarası
                            </th>
                            
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Surname
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.OkulNumara
                                </td>
                                
                            </tr>
                        }
                    </table>
                </section>
                
            </div>
        </div>
    </section>
</div>